In [5]:
nama = 'Bintang Rukmana'
usia = 19
sudah_menikah = False
Hobby = 'Basket'
print('nama:', nama)
print('usia:', usia)
print('sudah menikah:', sudah_menikah)
print('Hobby:', Hobby)

nama: Bintang Rukmana
usia: 19
sudah menikah: False
Hobby: Basket

In [6]:
a, b, c = 1, 2, "Mantap"

print('a:', a)
print('b:', b)
print('c:', c)

a: 1
b: 2
c: Mantap

In [7]:
d = e = f = 10

print('d:', d)
print('e:', e)
print('f:', f)

d: 10
e: 10
f: 10

In [8]:
a = 'Sukabumi'
b = 37

print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

In [10]:
panjang = 5
lebar = 10.5
luas = panjang * lebar

print(panjang, '*', lebar, '=', luas)
print("Tipe dari variable panjang:", type(panjang))
print("Tipe dari variable lebar:", type(lebar))
print("Tipe dari variable luas:", type(luas))

5 * 10.5 = 52.5
Tipe dari variable panjang: <class 'int'>
Tipe dari variable lebar: <class 'float'>
Tipe dari variable luas: <class 'float'>

In [50]:
foo = 12 < 10
print(foo)
foo = 10 < 12
print(foo)
foo ="A" == "a"
print(foo)

False
True
False

In [11]:
a = 5j
b = 10j
c = a + b

print(a, '+', b, '=', c)
print('Tipe data a:', type(a))
print('Tipe data b:', type(b))
print('Tipe data c:', type(c))

5j + 10j = 15j
Tipe data a: <class 'complex'>
Tipe data b: <class 'complex'>
Tipe data c: <class 'complex'>

In [13]:
alas = 10
tinggi = 5
luas = 0.5 * alas * tinggi

print(0.5, '*', alas, '*', tinggi, '=', luas)

0.5 * 10 * 5 = 25.0

In [21]:
tahun_sekarang = 2022
tahun_lahir = 2003
nilai_u = tahun_sekarang - tahun_lahir

print(tahun_sekarang, '-', tahun_lahir, '=', nilai_u)

2022 - 2003 = 19

In [23]:
nama_depan = "Bintang"
nama_belakang = 'Rukmana'
nama_lengkap = nama_depan + ' ' + nama_belakang
usia = '19'
alamat = 'Cicurug'
kata_mutiara = "Hidup seperti Lary"

print(nama_lengkap, '(' + usia + ')', ',', 'dari', alamat, ', kata mutiara:', kata_mutiara)

print('\nTipe dari nama_lengkap:', type(nama_lengkap))
print('Tipe dari usia:', type(usia))
print('Tipe dari alamat:', type(alamat))
print('Tipe dari kata_mutiara:', type(kata_mutiara))

Bintang Rukmana (19) , dari Cicurug , kata mutiara: Hidup seperti Lary

Tipe dari nama_lengkap: <class 'str'>
Tipe dari usia: <class 'str'>
Tipe dari alamat: <class 'str'>
Tipe dari kata_mutiara: <class 'str'>

In [41]:
print('saya' * 3)
print('''saya''')
print('''saya''')
print('saya')

sayasayasaya
saya
saya
saya

In [42]:
saya_orang_indonesia = True
saya_adalah_robot = False

print('Apakah saya orang Indonesia?', saya_orang_indonesia)
print('Apakah saya adalah Robot?', saya_adalah_robot)
print('Tipe dari saya orang Indonesia?', type(saya_orang_indonesia))
print('Tipe dari saya adalah Robot?', type(saya_adalah_robot))

Apakah saya orang Indonesia? True
Apakah saya adalah Robot? False
Tipe dari saya orang Indonesia? <class 'bool'>
Tipe dari saya adalah Robot? <class 'bool'>

In [3]:
Nama = "M Bintang Rukmana"
kelas = 'TI22E'
Jurusan = 'Teknik Informatika'
Quote = "Sukses Bukanlah Kebetulan, Sukses Sebenarnya Adalah Pilihan"

print(Nama, '(' + kelas + ')', ',', Jurusan, ', Quote:', Quote)

print('\nTipe dari Nama:', type(Nama))
print('Tipe dari kelas:', type(kelas))
print('Tipe dari Jurusan:', type(Jurusan))
print('Tipe dari Quote:', type(Quote))

M Bintang Rukmana (TI22E) , Teknik Informatika , Quote: Sukses Bukanlah Kebetulan, Sukses Sebenarnya Adalah Pilihan

Tipe dari Nama: <class 'str'>
Tipe dari kelas: <class 'str'>
Tipe dari Jurusan: <class 'str'>
Tipe dari Quote: <class 'str'>